<b> <%= comment.user.email %></b> said: <i>"<%= comment.body %>"</i><br><br>

<p><%= time_ago_in_words(comment.created_at) %> ago. 

    <%= link_to "Delete this comment", [comment.todo, comment], method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-danger btn-xs round" %>
    
    <%= link_to "Edit comment", edit_todo_comment_path(comment.todo, comment), class: "btn btn-info btn-xs round" %>

</p>
<hr>
<br>