<header>
  <ul>
<%= link_to "Home", root_path %> |
<%= link_to "help", help_path %> | 
<%= link_to "about", about_path %> | 
<%= link_to "New Todo Item", new_todo_path %> | 
<%= link_to "All Todo Items", todos_path %> | 
  </ul>

<ul>
  <li><%= link_to "Login", new_user_session_path %></li>
 <li><%= link_to "Signup", new_user_registration_path %></li>
 <li><%= link_to "Account Edit", edit_user_registration_path %></li>
 <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>  
</header>