<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <ul>
<%= link_to "Home", root_path %> |
<%= link_to "help", help_path %> | 
<%= link_to "about", about_path %> | 
<%= link_to "New Todo Item", new_todo_path %> | 
<%= link_to "All Todo Items", todos_path %> | 




  </ul>
</header>
  <body>
    <% flash.each do |name, msg|%>
    <ul>
      <li> <%= msg %>
      </li>
    </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
